<footer>
<p>© 2026 BookLab by Bjorn</p>
<div class="links">
<a href="/">Home</a>
<a href="/great-books-list">Great Books List</a>
<a href="/recommend">Book Picker</a>
<a href="/reading-list-2026">2026 Reading List</a>
<a href="/reviews">Reviews</a>
<a href="/articles">Articles</a>
<a href="/monthly/index">Monthly Releases</a>
<a href="/work-with-us">Work With Us</a>
<a href="https://youtube.com/@BookLabBjorn" target="_blank">YouTube</a>
<a href="https://x.com/poorbjorn" target="_blank">𝕏</a>
</div>
</footer>
